<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="bg-secondary ">

    {% extends 'master.html' %}
    {% block contenido%}

    <form method="post">{% csrf_token %}
        <input name="busqueda" placeholder="Ingrese su búsqueda">
        <button type="submit">Buscar</button>
    </form>


    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Cédula</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>correo</th>
                <th>Cuentas</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            {% for cliente in listaClientes %}
            <tr>
                <td><a href="{% url 'modificar' cliente.cedula%}">{{cliente.cedula}}</a></td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.nombres}}</td>
                <td>{{cliente.correo}}</td>
                <td><a href="{% url 'cuentas' cliente.cedula%}">cuentas</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'crearClientes' %}" type="button" class="btn btn-primary">Crear</a>
      {% endblock %}
</body>

</html>