<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Formulario Cuenta</title>
</head>

<body class="bg-secondary ">
    <form method="POST">
        <div class="form-control-sm position-absolute top-50 start-50 translate-middle">
            <div class="border-top border-bottom border-primary border-4 p-3 mb-2 bg-dark text-white rounded-3">
                {% csrf_token %}
                {{formulario_cuenta.as_p}}
                <button type="submit" type="button" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </form>
</body>

</html>